@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#outerContainer{
    font-family: 'Poppins';
    width: 100%;
}

#innerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#back{
    padding-top: 20px;
    width: 8%;
    display: flex;
    align-items: center;
    height: fit-content;
}

#backButton{
    padding-left: 5px;
    font-weight: 500;
font-size: 20px;

letter-spacing: 0.022em;

color: #6E6E6E;
}

#gallery{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    width: 27%;
    justify-content: space-evenly;
    height: 600px;
}

#galleryImageHolder{
    height: 164px;
}

.galleryImage{
    width: 220px;
    height: 146px;
}
.galleryImageactive{
    width: 220px;
    height: 146px;
    opacity: 0.5;
    border: 1px solid #979797;
}




#showcase{
    padding-top: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#showcaseImage{
    width: 900px;
    height: 600px;
}


/* Modal Stuff */

#modalContainer{
    width: 99.14vw;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalImage{
    width: 1600px;
    max-height: 100vh;
}