#container{
    padding-top: 100px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sponsors{
    display: flex;
    align-items: center;
    background-color: white;
    width: 70%;
    justify-content: space-around;
    height: 157px;
    z-index: 1;
}

.arrow{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrowRight{
    rotate: 180deg;
    z-index: 5;
}

#join{
    width: 90%;
    height: 400px;
    background-color: #C45648;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-top: -80px;
}

#content{
    padding-top: 50px;
    width: 60%;
}

#text{
    font-weight: 900;
font-size: 60px;
line-height: 90px;
letter-spacing: 0.07em;
color: white;
}

#button{
    font-weight: 600;
font-size: 15px;
    color: white;
text-align: center;
letter-spacing: 0.1em;
background: #1B1717;
border-radius: 5px;
padding: 20px 23px;
margin: 0 9%;
}