@import "../../../variables.css";

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--metro-black);
  color: #ffffff;
  padding: 25px 50px 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h4 {
  font-size: 22px;
  font-weight: 900;
  margin: 20px 0 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  margin: 8px 0;
}

.footerCol {
  width: 25%;
}

.footerCol:first-of-type {
  margin-right: auto;
}

.footerCol:first-of-type img {
  cursor: pointer;
}

.footerCol span {
  display: flex;
  flex-direction: row;
}

.footerCol span > img {
  margin: 0 10px 0 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ffffff40;
  font-weight: 800;
  font-size: 14px;
  padding: 15px 0px;
  margin-top: 50px;
}

.bottom section {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.footerCol span p {
  margin: 10px 0;
}

.bottom section p:first-of-type {
  margin-right: auto;
}

.bottom section :not(:first-of-type) {
  cursor: pointer;
  margin-left: 20px;
}
