#container {
  font-family: "Poppins";
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding:60px 0;
}

#address {
  font-weight: 900;
  font-size: 27px;
  letter-spacing: 0.07em;
  display: flex;
  width: 80%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

#other{
    display: flex;
    width: 80%;
    padding-top: 2em;
}

#bbp{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.bbp{
    padding: 20px 25px;
    display: flex;
    font-weight: 600;
font-size: 25px;
letter-spacing: 0.07em;
border: 1px solid #C4C4C4;
border-radius: 10px;
}

.bbpimage{
    /* width: 30px; */
    height: 40px;
    padding-right: 13px;
}

#price{
    width: 50%;
    font-weight: 700;
font-size: 38px;
text-align: right;
letter-spacing: 0.1em;
display: flex;
justify-content: flex-end;
padding-top: 15px;
}